body {
  font-family: sans-serif;
}

#humanModel {
  width: 200px;
  margin: 20px auto;
}

.part {
  margin: 2px auto;
  text-align: center;
  color: #000;
  border: 1px solid #333;
}

.head {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ccc;
}

.arm {
  width: 140px;
  height: 20px;
  background: #ccc;
}

.trunk {
  width: 80px;
  height: 80px;
}

.thigh {
  width: 70px;
  height: 60px;
}

.shank {
  width: 60px;
  height: 50px;
}

.foot {
  width: 50px;
  height: 20px;
}

.joint {
  width: 40px;
  height: 20px;
}
